# Ignore arquivos e diretórios desnecessários
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.DS_Store
.vscode
.idea
*.swp
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
node_modules
.env
.git
.gitignore